.search_wrap {
    top: 3vh;
    right: 0vw;
    transition: all ease-in-out 0.2s;
    opacity: 0.4;
    /* transform: translate(-100%,0); */
}
.search_wrap:hover{
    opacity: 1;
}

ul.ztree {
    margin-top: 10px;
    
    border: 1px solid #617775;
    background: #f0f6e4;
    /* width: 220px;
    height: 360px; */
    max-height: 95vh;
    max-width: 25vw;
    overflow-y: scroll;
    overflow-x: auto;
}